<section id="portfolio">
    <div class="container">
        <h2 class="portfolio-title">Portfolio</h2>
        <div class="row">
            <!-- Primer Proyecto -->
            <div class="col-md-4 portfolio-item">
                <div class="project-image project-one"></div>
                <h3 class="project-heading">Project Name</h3>
                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <!-- Segundo Proyecto -->
            <div class="col-md-4 portfolio-item">
                <div class="project-image project-two"></div>
                <h3 class="project-heading">Project Name</h3>
                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <!-- Tercer Proyecto -->
            <div class="col-md-4 portfolio-item">
                <div class="project-image project-three"></div>
                <h3 class="project-heading">Project Name</h3>
                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
</section>
